footer {
    background: white;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding:4em 0em;
    height:25vh;
    .contact-number {
        width: 20%;
        a{
            text-decoration:none;
            
            color:var(--primary-color);
        }
    }
    .locations {
        width: 70%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: 'Montserrat', sans-serif;
        .locations__item{
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: wrap;
            display:flex;
        strong {
            font-weight: 700;
            color: black;
            font-size: 1rem;
        }
        p {
            font-size: 1rem;
            color: gray;
        }
        a{
            text-decoration:none;
            color:var(--primary-color);
        }
    }
    }
}