@keyframes appear{
    from {opacity:0;left:0}
    to{opacity:1; left:1}
}
@keyframes disappear{
    from{opacity:1; top:50%;}
    to{opacity:0; top:0;}
}

.modal{
    background:rgba(0,0,0,.6);
    position:fixed;
    height:100%;
    width:100%;
    z-index:2;
    display:none;
    .modal-content{
        background:var(--panel-color);
        border: gray 1px solid;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        height:250px;
        width:250px;
        form{
            text-align:center;
            margin-top:2em;
            label{
                display:block;
                color:var(--font-color);
                font-size:1.2rem;
                font-weight:700;
                font-family: arial, sans-serif;
            }
            button{
                margin-top:1em;
                background:var(--bg-color);
                color:var(--font-color);
                font-family: arial, sans-serif;
                font-weight:700;
                padding:0.5em;
                border-radius:5px;
                &:hover{
                    cursor:pointer;
                }
            }
        }
    }

    #modal-close{
        display:inline-block;
        position:absolute;
        top:0;
        right:0;
        margin-right:0.5em;
        z-index:3;
        &:hover{
            cursor:pointer;
        }
    }

}