
.panel {
    height: 75vh;
    width: 80vw;
    margin: auto;
    background: var(--panel-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: var(--panel-shadow);
    overflow:auto;

    @import '_header.scss';

    .text-box {
        position: relative;
        padding: 1em;
        margin-left:3em;
        font-family: arial;
        color: var(--font-color);
        width: 50%;
        h1 {
            font-size: 3rem;
            letter-spacing: 0.05em;
            font-family: 'Poppins', arial, sans-serif;
        }
        p {
            font-size: 1rem;
            line-height:2;
        }
        .btn {
            margin-top: 2em;
            border-radius: 25px;
            padding: 1em 2em;
            font-weight: 700;
            color: white;
            letter-spacing: 0.05em;
            text-decoration: none;
            display: inline-block;
            border:1px solid white;
            transition:transform 300ms ease-out;
            &--quote {
                background: var(--quote-color);
                box-shadow: var(--box-shadow);
            }
            &--learn {
                background: var(--learn-color);
                margin-left: 1em;
            }
            &:hover{
                transform:scale(1.1);
            }
        }
    }



    //Design of the background
    .background-image{
        background-color:transparent;
        background-image:url("/public/light-rightside.png");
        background-size:cover;
        width:500px;
        height:500px;
        position:absolute;
        top:85px;
        right:10px;
    }

    .design{
        opacity:.1;
        color:var(--font-color);
        font-size:4rem;
        font-family:arial;
        font-weight:bold;
        position:absolute;
        bottom:6%;
        left:7%;
    }
    .development{
        color:var(--panel-color);
        text-shadow:0px 0px 3px var(--font-color);
        font-size:5rem;
        font-family:arial;
        font-weight:bold;
        position:absolute;
        bottom:5%;
        right:1%;
        letter-spacing:3px;
    }
}