@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
:root {
    --font-color: rgb(41, 38, 182);
    --bg-color:rgb(225, 237, 252);
    --panel-color:rgb(240, 246, 255);
    --quote-color:rgb(0, 95, 254);
    --learn-color:rgb(255, 204, 87);

    --font-night-color:white;
    --bg-night-color:rgb(230,168,255);
    --panel-night-color:rgb(52,0,104);
    --quote-night-color:rgb(185, 37, 222);
    --learn-night-color:rgb(222,115,37);



    --box-shadow:0px 5px 0px 0px darkblue;
    --box-night-shadow:0px 5px 0px 0px rgb(16,0,31);

    --panel-shadow:3px 38px 34px -16px rgba(188, 195, 236, 1);
    --panel-night-shadow:3px 38px 34px -16px rgba(95, 39, 144, 1);


}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    line-height:1.4;
}
@import '_panel.scss';
@import '_modal.scss';